<!doctype html>
<html class="no-js" lang="EN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>mydomains</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="css/application.css">

    <script>
      (function(d) {
        var config = {
          kitId: 'qth2yiw',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
</head>
<body>


    
<div id="myDomains">
    <div class="app-header">
        <h1 class="app-header__heading">
            my<span>domains</span>
        </h1>
    

        <span v-bind:class="{ active: isActive } " class="app-header__add" @click='toggleModal()'>+
        </span>
    </div>
    
    <input type="checkbox" id="mark-all">
    <input type="text" placeholder="What do you need to do?" autofocus class="text-input" v-model="newTask" v-on:keyup.enter="addTask">
    <button>Clear List</button>
  
  
    <ol class="app-list">
        
<add-modal v-show="showAddModal"></add-modal>

        <li class="app-list__item" v-for="newTask in taskList">
            <div class="app-domain__name">
            {{ newTask.text }}
            </div>
            <div class="app-domain__registrar">
                {{ $data }}

            </div>
        </li>
    </ol>
</div>

<script src="./node_modules/vue/dist/vue.min.js"></script>
<script src="js/application.js"></script>




</body>
</html>
