<!doctype html>
<html class="no-js" lang="EN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>mydomains</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="vendor/normalize.css">
    <link rel="stylesheet" href="css/application.css">

    <!-- Typekit -->
    <script>
      (function(d) {
        var config = {
          kitId: 'qth2yiw',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
</head>

<body>
    <div id="myDomains">
        <div class="app-header" v-bind:class="{ modalActive: showAddModal }">
            <h1 class="app-header__heading">
                my<span>domains</span>
            </h1>

            <span class="app-header__add" @click='toggleModal()'>+</span>
        </div>

        <ol class="app-list">
            <li class="app-list__item" v-for="newItem in itemList">
                <div class="app-domain__name">
                    {{ newItem.text }}
                </div>

                <div class="app-domain__registrar">
                    {{ newItem.registrar }}
                </div>
            </li>
        </ol>

        <div class="app-new" v-show="showAddModal">
            <div class="app-new__form-group">
                <label for="modalDomainInput" class="app-new__label">Domain Name</label>

                <input type="text" class="app-new__input" id="modalDomainInput" placeholder="mydomains.co"
                    autofocus v-model="newItem" v-on:keyup.enter="addItem" />
            </div>

            <div class="app-new__form-group">
                <label for="modalRegistrarInput" class="app-new__label">Registrar</label>

                <select id="modalRegistrarInput" class="app-new__input" v-model="registrarName" v-on:keyup.enter="addItem">
                    <option v-for="reg in regList">{{ reg.name }}</option>
                </select>
            </div>
        </div>
    </div>

  <script src="vendor/vue.js"></script>
  <script src="js/application.js"></script>
</body>
</html>
